/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@import url("../fonts/octin_sports_rg.ttf");

/* basic */
body {
    font-family: "Poppins", sans-serif;
    background-color: rgba(0, 0, 0, 0.39);
    margin:0px;
}

/* header section */
.header_section {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar{
    padding-top: 0px;
}

.btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* Text color */
    font-size: 30px; /* text size*/
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:first-child) {
    border-left: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
    padding-left: 55px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* end header section */

/* Main body */
#verbody{
    background-color: rgba(102, 51, 153, 0.25);
    height:90%;/*559px;*/
    width:100%;
    position : absolute;    
}
#cbody{
    background-color: rgba(218, 165, 32, 0.25);
    height:90%;/*559px;*/
    width:100%;
    position : absolute;    
}
#grbody{
    background-color: rgba(127, 255, 212, 0.25);
    height:90%;/*559px;*/
    width:100%;
    position : absolute;
}

/* verlog button page */
/* left side */
.verdiv1{
    border-radius: 5px;
    background-color: yellowgreen;
    position:absolute;
    padding-top: 10px;
    top: 9%;
    width:50%;
    height:85%;
    margin:10px;
    border: 3px dashed blue;
}
textarea.textarea1 {
    color:#000000;
    background-color: #fff;
    position:absolute;
    top: 0px;
    left:0px;
    height:98%;
    width:98.5%;
    border: 3px solid white;
    font-size: 1em;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}

#verbody .verbtnrun button{
    border-radius: 5px;
    background-color: #fc00009d; /* Green background */
    border: 1px solid rgb(255, 0, 0); /* Green border */
    color: white; /* Text color */
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 10px 50px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}
.verbtnrun button{
    position:absolute;
    right : 0px;
    bottom: 0px;
}
#verbody .verbtnrun button:hover{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #ff0000;
}
#verbody .verdivform{
    background-color: violet;
}
input[type=file] {
    position:absolute;
    left:20px;
    top:5px;
    width: 35%;
    max-width: 50%;
    color: #000000;
    padding: 5px;
    background: rgba(255, 0, 0, 0.158);
    border-radius: 10px;
    border: 1px solid #000000;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}
input[type=submit]{
    transition: background .2s ease-in-out;
    font-size: medium;
    position:absolute;
    right : 50%;
    top: 10px;
    width: 10%;
    max-width: 100%;
    color: black;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(3, 160, 11, 0.493);
    border-radius: 5px;
    border: 1px solid black;
}
input[type=submit]:hover {
    background: rgba(0, 255, 13, 0.582);
}

/* right side */
.verdiv2{
    position:absolute;
    padding-top: 50px;
    padding-left: 10px;
    top: 0%;
    left: 51%;
    width:46.75%;
    height:40%;
    margin:10px;
}
.verdiv2text{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-radius: 5px;
    position:absolute;
    padding-top: 10px;
    top: -3%;
    margin: -10px;
    left: 25%;
    width:50%;
    height:10%;
    margin:10px;
}


input.files2[type=file] {
    
    left:30%;
    right:30%;
    top:30%;
    max-width: 100%;
    height : 10%;
    color: #0a0a0a;
    padding: 5px;
    background: rgba(218, 165, 32, 0.30);
    border-radius: 10px;
    border: 1px solid #000000;
    
}

input.files2[type=file]::file-selector-button {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input.files2[type=submit]{
    transition: background .2s ease-in-out;
    font-size: medium;
    position:absolute;
    left: 45%;
    right : 45%;
    top: 50%;
    max-width: 100%;
    color: black;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255,1);
    border-radius: 5px;
    border: 1px solid black;
    display : block;
}

.cdiv1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.verdiv3{
    position:absolute;
    padding-top: 50px;
    padding-left: 10px;
    top: 49.8%;
    left: 51%;
    width:46.75%;
    height:38%;
    margin:10px;
    overflow-y: scroll;
}
.verdiv3text{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-radius: 5px;
    position:absolute;
    padding-top: 10px;
    top: -2%;
    margin: -10px;
    left: 10%;
    width:75%;
    height:10%;
    margin:10px;
}

textarea.textarea2{
    color:#fff;
    background-color: #000000;
    position:absolute;
    top: 19%;
    left:0.4%;
    width : 95%;
}